server {

    listen 80;
    listen [::]:80;

    server_name fd.y4l3.com;
    root /var/www/xinan-fd/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \/api\/.*$ {
        root /var/www/xinan-fd/public;
        rewrite ^/api/(.*) /index.php?$query_string last;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param  APP_ENV development;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/xinan_fd_error.log;
    access_log /var/log/nginx/xinan_fd_access.log;
}


server {

    listen 80;
    listen [::]:80;

    server_name api.fd.y4l3.com;
    root /var/www/xinan-fd/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \/api\/.*$ {
        root /var/www/xinan-fd/public;
        rewrite ^/api/(.*) /index.php?$query_string last;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param  APP_ENV development;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/xinan_fd_api_error.log;
    access_log /var/log/nginx/xinan_fd_api_access.log;
}

server {

    listen 80;
    listen [::]:80;

    server_name hzf.y4l3.com;
    root /var/www/xinan-hzf/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \/api\/.*$ {
        root /var/www/xinan-hzf/public;
        rewrite ^/api/(.*) /index.php?$query_string last;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param  APP_ENV development;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/xinan_hzf_error.log;
    access_log /var/log/nginx/xinan_hzf_access.log;
}


server {

    listen 80;
    listen [::]:80;

    server_name op.y4l3.com;
    root /var/www/xinan-openPlatform/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \/api\/.*$ {
        root /var/www/xinan-openPlatform/public;
        rewrite ^/api/(.*) /index.php?$query_string last;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param  APP_ENV development;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/xinan_openPlatform_error.log;
    access_log /var/log/nginx/xinan_openPlatform_access.log;
}


server {

    listen 80;
    listen [::]:80;

    server_name pc.y4l3.com;
    root /var/www/xinan-productCenter/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \/api\/.*$ {
        root /var/www/xinan-productCenter/public;
        rewrite ^/api/(.*) /index.php?$query_string last;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param  APP_ENV mix-dev;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/xinan_productCenter_error.log;
    access_log /var/log/nginx/xinan_productCenter_access.log;
}

server {

    listen 80;
    listen [::]:80;

    server_name dev.guoqiaoti.com;
    root /var/www/5188;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \/api\/.*$ {
        root /var/www/5188;
        rewrite ^/api/(.*) /index.php?$query_string last;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param  APP_ENV mix-dev;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/archive_manage_error.log;
    access_log /var/log/nginx/archive_manage_access.log;
}

server {

    listen 80;
    listen [::]:80;

    server_name zyd.y4l3.com;
    root /var/www/financing_xa/dict;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \/api\/.*$ {
        root /var/www/financing_api/public;
        rewrite ^/api/(.*) /index.php?$query_string last;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param  APP_ENV mix-dev;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/archive_manage_error.log;
    access_log /var/log/nginx/archive_manage_access.log;
}