server {

    listen 80;
    listen 443 ssl;
    listen [::]:80;

    ssl_certificate     /etc/nginx/ssl/twojkalendarz.local.crt;
    ssl_certificate_key /etc/nginx/ssl/twojkalendarz.local.key;

    server_name app.twojkalendarz.pl;
    root /var/www/public;
    index index.php index.html index.htm;


    location / {
         try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        try_files $uri /index.php =404;
        fastcgi_pass php-upstream;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }
}
