map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

upstream octane {
    server workspace:8000 weight=5 max_fails=3 fail_timeout=30s;
    keepalive 16;
}

# =====================================
# HTTP configuration
# =====================================
server {
    listen 80;
    listen [::]:80;
    server_name octane.test www.octane.test;

    server_tokens off;
    root /var/www/octane/public;

    index index.php;

    charset utf-8;

    location /index.php {
        try_files /not_exists @octane;
    }

    location / {
        try_files $uri $uri/ @octane;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    error_page 404 /index.php;

    location @octane {
        set $suffix "";

        if ($uri = /index.php) {
            set $suffix ?$query_string;
        }

        proxy_http_version 1.1;
        proxy_set_header Host $http_host;
        proxy_set_header Scheme $scheme;
        proxy_set_header SERVER_PORT $server_port;
        proxy_set_header REMOTE_ADDR $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;

        proxy_pass http://octane$suffix;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log  /var/log/nginx/octane_error.log;
    access_log /var/log/nginx/octane_access.log;
}
# =====================================
# End HTTP configuration
# =====================================


# =====================================
# # To enable SSL for this site, use the following configuration instead of the above.
# =====================================


# =====================================
# HTTPS configuration
# =====================================
# server {
#     listen 80;
#     listen [::]:80;
#     server_name octane.test www.octane.test;

#     location /.well-known/acme-challenge/ {
#         root /var/www/letsencrypt;
#     }

#     location / {
#         return 301 https://octane.test$request_uri;
#     }
# }

# server {
#     listen 443 ssl;
#     server_name www.octane.test;

#     # Self certificates #
#     ssl_certificate /etc/nginx/ssl/default.crt;
#     ssl_certificate_key /etc/nginx/ssl/default.key;
#     # Certbot certificates #
#     # ssl_certificate /etc/letsencrypt/live/octane.test/fullchain.pem;
#     # ssl_certificate_key /etc/letsencrypt/live/octane.test/privkey.pem;

#     return 301 https://octane.test$request_uri;
# }

# server {
#     listen 443 ssl;
#     listen [::]:443 ssl;
#     server_name octane.test;

#     # Self certificates #
#     ssl_certificate /etc/nginx/ssl/default.crt;
#     ssl_certificate_key /etc/nginx/ssl/default.key;
#     # Certbot certificates #
#     # ssl_certificate /etc/letsencrypt/live/octane.test/fullchain.pem;
#     # ssl_certificate_key /etc/letsencrypt/live/octane.test/privkey.pem;

#     server_tokens off;
#     root /var/www/octane/public;

#     index index.php;

#     charset utf-8;

#     location /index.php {
#         try_files /not_exists @octane;
#     }

#     location / {
#         try_files $uri $uri/ @octane;
#     }

#     location = /favicon.ico { access_log off; log_not_found off; }
#     location = /robots.txt  { access_log off; log_not_found off; }

#     error_page 404 /index.php;

#     location @octane {
#         set $suffix "";

#         if ($uri = /index.php) {
#             set $suffix ?$query_string;
#         }

#         proxy_http_version 1.1;
#         proxy_set_header Host $http_host;
#         proxy_set_header Scheme $scheme;
#         proxy_set_header SERVER_PORT $server_port;
#         proxy_set_header REMOTE_ADDR $remote_addr;
#         proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#         proxy_set_header Upgrade $http_upgrade;
#         proxy_set_header Connection $connection_upgrade;

#         proxy_pass http://octane$suffix;
#     }

#     location /.well-known/acme-challenge/ {
#         root /var/www/letsencrypt/;
#         log_not_found off;
#     }

#     error_log  /var/log/nginx/octane_error.log;
#     access_log /var/log/nginx/octane_access.log;
# }
# =====================================
# End HTTPS configuration
# =====================================
