# =====================================
# HTTP configuration
# =====================================
server {
    listen 80;
    listen [::]:80;
    server_name symfony.test www.symfony.test;

    root /var/www/projects/symfony/web;
    index index.php index.html index.htm;

    location / {
      try_files $uri @rewriteapp;
    }

    # For Symfony 3
    location @rewriteapp {
        rewrite ^(.*)$ /app.php/$1 last;
    }
    
    # For Symfony 4 config
    # location @rewriteapp {
    #     rewrite ^(.*)$ /index.php/$1 last;
    # }

    location ~ ^/(app|app_dev|config|index)\.php(/|$) {
        fastcgi_pass php-upstream;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        #fixes timeouts
        fastcgi_read_timeout 600;
        fastcgi_param HTTPS off;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }

    error_log /var/log/nginx/symfony_error.log;
    access_log /var/log/nginx/symfony_access.log;
}
# =====================================
# End HTTP configuration
# =====================================


# =====================================
# # To enable SSL for this site, use the following configuration instead of the above.
# =====================================


# =====================================
# HTTPS configuration
# =====================================
# server {
#     listen 80;
#     listen [::]:80;
#     server_name symfony.test www.symfony.test;
#
#     location /.well-known/acme-challenge/ {
#         root /var/www/letsencrypt;
#     }

#     location / {
#         return 301 https://symfony.test$request_uri;
#     }
# }

# server {
#     listen 443 ssl;
#     server_name www.symfony.test;

#     # Self certificates #
#     ssl_certificate /etc/nginx/ssl/default.crt;
#     ssl_certificate_key /etc/nginx/ssl/default.key;
#     # Certbot certificates #
#     # ssl_certificate /etc/letsencrypt/live/symfony.test/fullchain.pem;
#     # ssl_certificate_key /etc/letsencrypt/live/symfony.test/privkey.pem;

#     return 301 https://symfony.test$request_uri;
# }

# server {
#     listen 443 ssl;
#     listen [::]:443 ssl;
#     server_name symfony.test;

#     # Self certificates #
#     ssl_certificate /etc/nginx/ssl/default.crt;
#     ssl_certificate_key /etc/nginx/ssl/default.key;
#     # Certbot certificates #
#     # ssl_certificate /etc/letsencrypt/live/symfony.test/fullchain.pem;
#     # ssl_certificate_key /etc/letsencrypt/live/symfony.test/privkey.pem;

#     root /var/www/projects/symfony/web;
#     index index.php index.html index.htm;

#     location / {
#       try_files $uri @rewriteapp;
#     }

#     # For Symfony 3
#     location @rewriteapp {
#         rewrite ^(.*)$ /app.php/$1 last;
#     }
    
#     # For Symfony 4 config
#     # location @rewriteapp {
#     #     rewrite ^(.*)$ /index.php/$1 last;
#     # }

#     location ~ ^/(app|app_dev|config|index)\.php(/|$) {
#         fastcgi_pass php-upstream;
#         fastcgi_split_path_info ^(.+\.php)(/.*)$;
#         include fastcgi_params;
#         fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
#         #fixes timeouts
#         fastcgi_read_timeout 600;
#         fastcgi_param HTTPS off;
#     }

#     location /.well-known/acme-challenge/ {
#         root /var/www/letsencrypt/;
#         log_not_found off;
#     }

#     error_log /var/log/nginx/symfony_error.log;
#     access_log /var/log/nginx/symfony_access.log;
# }
# =====================================
# End HTTPS configuration
# =====================================
