.idea
/logs
/data
.env
.tmp-env
.lpass-env
/.project
.docker-sync

# Repositories
/apply-app
/campus-frontend
/deploy-campus-frontend
/deploy-kiron-graphql
/deploy-services
/kiron-graphql
/limesurvey
/metabase
/padileia-landing-page
/phpbase
/services
