##################
# DOCKER COMPOSE #
# ################

DOCKER_HOST_IP=10.0.75.1

# Switch between PHP and HHVM interpreter
# PHP_INTERPRETER=hhvm
PHP_INTERPRETER=php-fpm

# Switch between supported PHP versions... does not apply for HHVM.
# Please see composer.json in Laravel Framework for the minimum Php Version
#PHP_VERSION=55
#PHP_VERSION=56
PHP_VERSION=70

# APPLICATIONS
APPLICATIONS_HOST_DIR=../
APPLICATIONS_IMAGE_NAME=tianon/true
APPLICATIONS_CONTAINER_NAME=applications

# WORKSPACE
WORKSPACE_INSTALL_XDEBUG=false
WORKSPACE_INSTALL_SOAP=false
WORKSPACE_INSTALL_MONGO=false
WORKSPACE_INSTALL_NODE=false
WORKSPACE_INSTALL_YARN=false
WORKSPACE_INSTALL_DRUSH=false
WORKSPACE_INSTALL_AEROSPIKE_EXTENSION=false
WORKSPACE_INSTALL_INSTALL_V8JS_EXTENSION=false
WORKSPACE_COMPOSER_GLOBAL_INSTALL=false
WORKSPACE_INSTALL_WORKSPACE_SSH=false
WORKSPACE_INSTALL_LARAVEL_ENVOY=false
WORKSPACE_INSTALL_DEPLOYER=false
WORKSPACE_INSTALL_LINUXBREW=false
WORKSPACE_PUID=1000
WORKSPACE_PGID=1000
WORKSPACE_NODE_VERSION=stable
WORKSPACE_TIMEZONE=UTC
WORKSPACE_SSH_PORT=2222

# PHP_FPM
PHP_FPM_DOCKER_FILE=Dockerfile-70
PHP_FPM_INSTALL_XDEBUG=false
PHP_FPM_INSTALL_MONGO=false
PHP_FPM_INSTALL_SOAP=false
PHP_FPM_INSTALL_ZIP_ARCHIVE=false
PHP_FPM_INSTALL_BCMATH=false
PHP_FPM_INSTALL_PHPREDIS=false
PHP_FPM_INSTALL_MEMCACHED=false
PHP_FPM_INSTALL_OPCACHE=false
PHP_FPM_INSTALL_EXIF=false
PHP_FPM_INSTALL_AEROSPIKE_EXTENSION=false
PHP_FPM_INSTALL_MYSQLI=false
PHP_FPM_INSTALL_TOKENIZER=false

# NGINX
NGINX_HOST_HTTP_PORT=8080
NGINX_HOST_HTTPS_PORT=8433
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/



# APACHE
APACHE2_BUILD_PATH=./apache2
APACHE2_CONTAINER_NAME=apache2
APACHE_HOST_HTTP_PORT=7080
APACHE_HOST_HTTPS_PORT=7443
APACHE2_PHP_SOCKET=php-fpm:9000
APACHE_HOST_LOG_PATH=./logs/apache2

# HHVM
HHVM_BUILD_PATH=./hhvm
HHVM_CONTAINER_NAME=hhvm
HHVM_HOST_PORT=9000

# MYSQL
MYSQL_BUILD_PATH=./mysql
MYSQL_CONTAINER_NAME=mysql
MYSQL_HOST_PORT=3307
MYSQL_ROOT_PASSWORD=root

# MEMCACHED
MEMCACHED_BUILD_PATH=./memcached
MEMCACHED_CONTAINER_NAME=memcached
MEMCACHED_HOST_PORT=11211

# BEANSTALKD
BEANSTALKD_BUILD_PATH=./beanstalkd
BEANSTALKD_CONTAINER_NAME=beanstalkd
BEANSTALKD_HOST_PORT=11300

# BEANSTALKD CONSOLE
BEANSTALKD_CONSOLE_BUILD_PATH=./beanstalkd-console
BEANSTALKD_CONSOLE_CONTAINER_NAME=beanstalkd-console
BEANSTALKD_CONSOLE_HOST_PORT=2080

# RABBITMQ
RABBITMQ_BUILD_PATH=./rabbitmq
RABBITMQ_CONTAINER_NAME=rabbitmq
RABBITMQ_NODE_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HTTPS_HOST_PORT=15671
RABBITMQ_MANAGEMENT_HTTP_HOST_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# ELASTICSEARCH
ELASTICSEARCH_BUILD_PATH=./elasticsearch/versions/2
ELASTICSEARCH_CONTAINER_NAME=elasticsearch
ELASTICSEARCH_HOST_HTTP_PORT=9200
ELASTICSEARCH_HOST_TRANSPORT_PORT=9300

####################
# LARAVEL SPECIFIC #
# ##################

# APP
APP_ENV=local
APP_KEY=base64:FeZgPe6Pqm7dOCy7Sx0P/PQ9ICMuwAsHLms7DUOxCkI=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

# DATABASE
DB_CONNECTION=mysql

# Laravel Original: DB_HOST=127.0.0.1
# must match the service name or container name.
# so if we want to use mariadb it must look like:
# DB_HOST=mariadb
DB_HOST=mysql

# IMPORTANT:
#   - ports are defined in docker-compose.yml like HOST_PORT:CONTAINER_PORT
#   - DB_PORT=3306 represents the CONTAINER_PORT not the HOST_PORT
#
# This means that this should not be changed unless you have also tweaked the database image created by
#  docker-compose.yml.
DB_PORT=3306
DB_DATABASE=default
DB_USERNAME=default
DB_PASSWORD=secret

# DRIVERS
BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

# REDIS
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL
MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

# PUSHER
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
