### LARAVEL ECHO SERVER ################################################################################################

LARAVEL_ECHO_SERVER_PORT=6001


##### TO BE CONTINUE .................................

# ......... Missing: neo4j mongo rethinkdb redis aerospike pgadmin...
# .........
# .........
