# Docs: https://caddyserver.com/docs/caddyfile
0.0.0.0:80
fastcgi / php-fpm:9000 php
rewrite {
    to /index.php?{query}
}
browse
log stdout
errors stdout
# Uncomment to enable TLS (HTTPS)
# Change the first list to listen on port 443 when enabling TLS
#tls self_signed
