###
### Copy createdb.sql.example to createdb.sql
### then uncomment and set database name to create you need databases
###

#CREATE DATABASE IF NOT EXISTS `dev_db_1` ;
#CREATE DATABASE IF NOT EXISTS `dev_db_2` ;
#CREATE DATABASE IF NOT EXISTS `dev_db_3` ;
