GIN_MODE=debug

# Weaver
WEAVER_AUTH_KEY="arachnys-weaver"
WEAVER_ATHENA_CMD="athenapdf -S"
WEAVER_MAX_WORKERS=10
WEAVER_MAX_CONVERSION_QUEUE=50
WEAVER_WORKER_TIMEOUT=90
WEAVER_CONVERSION_FALLBACK=false

# CloudConvert
# API key can be found: https://cloudconvert.com/user/profile
# CLOUDCONVERT_API=https://api.cloudconvert.com
# CLOUDCONVERT_KEY=

# Monitoring
# STATSD_ADDRESS=
# STATSD_PREFIX=
# SENTRY_DSN=
