#
# Copy change_auth_native.sql.example to change_auth_native.sql
# then set username and password to connect databases from laravel
#
# example: .env MYSQL_USER=appuser and MYSQL_PASSWORD=apppass
#
#    ALTER USER 'appuser'@'%' IDENTIFIED WITH mysql_native_password BY 'apppass';
#
#
# this sql script will auto run when the mysql container starts and the $DATA_PATH_HOST/mysql not found.
#
# if your $DATA_PATH_HOST/mysql exists and you do not want to delete it, you can run by manual execution:
#
#     docker-compose exec mysql bash
#     mysql -u root -p < /docker-entrypoint-initdb.d/change_auth_native.sql
#

ALTER USER 'default'@'%' IDENTIFIED WITH mysql_native_password BY 'secret';
