# MariaDB database server configuration file.
#
# You can use this file to overwrite the default configuration
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html


slow_query_log = 1
long_query_time = 1
log_queries_not_using_indexes = 1

query_cache_size = 32M
join_buffer_size = 4M
innodb_buffer_pool_size = 1G

max_allowed_packet = 64M
table_open_cache = 4096
sort_buffer_size = 3M
read_buffer_size = 2M
read_rnd_buffer_size = 64M
thread_cache_size = 256

innodb_additional_mem_pool_size = 20M
innodb_log_file_size = 128M
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 180

max_connections = 150
max_user_connections = 150
key_buffer = 36M
interactive_timeout = 25
wait_timeout = 1800
query_cache_type = 1
tmp_table_size = 16M

innodb_buffer_pool_instances = 1
query_cache_limit = 2M
skip-name-resolve = 1
