# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
skip-host-cache
skip-name-resolve
sql-mode=""
character-set-server=utf8
default_authentication_plugin= mysql_native_password
