# Docs: https://caddyserver.com/docs/caddyfile
0.0.0.0:80 {
    root /var/www/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # To handle .html extensions with laravel change ext to
    # ext / .html

    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
    # Uncomment to enable TLS (HTTPS)
    # Change the first list to listen on port 443 when enabling TLS
    #tls self_signed

    # To use Lets encrpt tls with a DNS provider uncomment these
    # lines and change the provider as required
    #tls {
    #  dns cloudflare
    #}
}

laradock1.demo:80 {
    root /var/www/public
    # Create a Webhook in git.
    #git {
	#repo https://github.com/xxx/xxx
    #    path /home/xxx
    #    #interval 60
    #    hook  webhook laradock
    #    hook_type   generic
    #}

}

laradock2.demo:80 {
    # Create a Proxy and cors.
    #proxy domain.com
	#cors
}

laradock3.demo:80 {
    import authlist.conf
    root /var/www/public
}